<% layout('layouts/boilerplate') %>
<div class="container justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">Change Password</h5>
                    <form action="/alumni/<%= user.username %>/changePassword?_method=PUT" method="POST">
                        <div class="mb-3">
                            Username: <%= user.username %>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="password1">Type your new password: </label>
                            <input class="form-control" type="password" id="password1" name="password1">
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="password2">Type your new password again: </label>
                            <input class="form-control" type="password" id="password2" name="password2">
                        </div>
                        <button class="btn btn-success btn-block">Update Alumni Profile</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
